.coursebox{
float: left;
margin: 10px;
background-color: white;
box-shadow: 5px 5px 5px lightblue;
height: 350px;
width: 200px;

}
.c-image{
    width: 100%;
    height: 100px;
}
.c-image img{

    height: 100%;
    width: 100%;

}
h4{

  color: rgb(58, 61, 61);
  text-align:center;
  font-family: arial;

}

h5{
color: rgb(129, 123, 123);
font-family: consolas;
}

.price-block{
    padding: 10px;
background-color: rgb(128, 111, 111);
color: rgb(250,244,244);
margin-top: 20px;

}

.price-block h5{
    font-family: 'Courier New', Courier, monospace;
        color:white;
        text-align: center;
         font-weight: bold;
    }

.rating-block{
width: 100%;

}


.unit{
width: 33%;
text-align: center;
font-family: consolas;
color: darkblue;
float: left;

}

.unit img{

width: 50%;
height: 40px;

}